@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');




.active-hub {
    display: grid;
    position: relative;
     z-index: 0;
     font-family: poppins;
   }
   .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
    height: 100%;
    background-color: white;
  }
  .container h2 {
    font-family: poppins, sans-serif;
    font-size: 2.5rem;
    color: #599217;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form {
    background-color: rgb(227, 224, 224);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 700px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
   
    gap: 0.5rem;
  }
  
  .label {
    display: block;
   
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
  }
  
  .input, .select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: black;
    background-color: white;
  }
  
  .submit-button {
    width: 40%;
    padding: 10px;
    border-radius: 4px;
    background-color: green;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 12rem;
    
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
  }
  
  
   .active-img{
       width: 100%;
       height: 60vh;
       object-fit: cover;
   }
   .active-content h3{
     font-size: 3rem;
     font-family: 'Poppins', sans-serif;
     margin-top: -200px;
     position: absolute;
     margin-left: 5rem;
     color: white;
   }
   .about{
    
    margin-left: 2rem;
    margin-top: 1rem;
   }
   .about h2{
    color: #599217;
    font-family: Just Another Hand;
    font-size: 2rem;
    text-align: center;
   }

   .about p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: justify;
    margin: 1.2rem
   }
   .social{
    margin-left: 1rem;
     margin-top: 1rem;
     display: flex;
     gap: 1rem;
   }
   
   .mission p{
    padding-right: -1rem;
    margin-left: 12rem;
   }
   

   .about h3{
    color: #599217;
    font-family: Just Another Hand;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    
   }

   .about ul{
    margin-left: 2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4rem;
    list-style-type: none;
   }

  .about   ul li::before {
  content: "\2713\0020"; 
  color: #599217;
  font-weight: bold; 
}
   .about-content h1{
   color: #599217;
   font-family: Just Another Hand;
   text-align: center;
   font-size: 2.4rem;

   }
   .about-content h5{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
   }
   .about-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Add spacing between the columns if needed */
    padding: 20px;
   
   }
   .about-content p{
    color: black;
    font-family: Poppins;
    line-height: 1.5rem;
    font-size: 18px;
    /* margin-right: -1rem; */
   }
   .about-content ul{
    margin-bottom: 2rem;
    margin-left: 1rem;
    line-height: 1.4rem;
   }
   .team1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .team1 h2{
    font-family: Just Another Hand;
    font-size: 40px;
    color: #599217;
    text-transform: capitalize;
   }
   .team1 h1{
    color: black;
    font-family: poppins;
    font-size: 20px;
   }
   .board-director{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
   }
   .board{
    display: flex;
   justify-content: space-around;
   margin-right: 2rem;
   gap: 1rem;
   } 
   .image1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
   
   }
   .image1 img{
    width: 100%;
  height: 320px;
    object-fit: contain;
    border-radius: 10px;
   }
   .image1 h3{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 0.5rem;
    color: #000000;
    text-transform: capitalize;
   }
   .image1 h4{
    color: #599217;
    text-transform: capitalize;
    text-align: center;
   }
   .image1 p{
    font-size: 1rem;
   font-family: 'Poppins', sans-serif;
    color: #000000;
    text-transform: capitalize;
   }
 
   
   .partner{
    background: #599217AB;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    margin-right: 2rem;
    padding-bottom: 1rem;
   }
  
   

   .partner h2{
    font-family: Just Another Hand;
    font-size: 40px;
    color: #599217;
    text-transform: capitalize;
  
   }
   .partner-img{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
   }
   .partner-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
   }
   .partner-img img:hover{
    transform: scale(1.1);
    transition: 0.5s;
   }
   .partner-img img:not(:hover){
    transform: scale(1);
    transition: 0.5s;
   }
   .partner-img h3{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
   }
.log-image{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem;

}

.log-image img{
    width: 33%;
    height: 11rem;
    object-fit:contain;
    border-radius: 10%;
}
  @media (max-width: 768px){

    .active-img{
        height: 30vh;
    }
    
    .about{
        display: flex;
        flex-direction: column;
    }
    .social{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mission p{
        margin-left: 0rem;
    }
    .about h2{
        font-size: 30px;
    }
    .about h4{
        align-items: center;
        display: flex;
        font-size: 35px;
    }
    .about-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 0rem;
    }
    .about-content h1{
        font-size: 30px;
    }
    .about-content h5{
        font-size: 30px;
    }
    .about-content p{
        font-size: 16px;
        text-align: justify;
    }
    .team1 h2{
        font-size: 50px;
        margin: 1rem;
    }
    .board{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        object-fit: cover;
    }
    .image1 img{
        width: 90%;
        height: 50vh;
        object-fit: contain;
    }
    .image1 h3{
        font-size: 25px;
        text-transform: capitalize;
        text-align: center;
    }
    .image1 h4{
      font-size: 22px;
    }
    .image1 p{
        font-size: 21px;
        text-transform: capitalize;

    }
    .team1 h1{
        font-size: 28px;
        text-transform: capitalize;
    }
    .log-image{
        flex-direction:column;
    }
    .log-image img{
    width: 100%;
    object-fit: contain;
}
  }
  