@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.style {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.story-head{
   font-family: 'Viga', sans-serif;
   font-size: 3rem;
   margin-bottom: 2rem;
} 

.story-content {
  text-align: center;
  font-size: 2rem;
  padding-left: 15%;
  padding-right: 15%;
  font-family: 'Poppins', sans-serif;
  
}

.slide-button{
    background-color:  #EECF39;
    text-align: center;
    width:fit-content;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    margin-left: 45%;
    margin-top:3rem;   
}

.bio{
    display: flex;
    margin: 2rem;
    gap: 2rem;
}

.bio-sector1{
  width: 40%;
}

.bio-sector1 h1{
  font-family: 'Just Another Hand', cursive;
}

.bio-sector1 h3{
  font-family: 'Poppins', sans-serif;
  margin-top: 1rem;
}
.bio-sector2{
  width: 60%;
}

