.header{
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    font-family: sans-serif;
    margin-bottom: 0.3rem;
    z-index: 100;
}
/* .close{
    display: none;
} */

.logo{
    height: 3rem;
    width: 3rem;
    margin-top: -1rem;
}

.header-nav{
    flex: 3;
}
.header-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;  
    color: #599217;
}

.header-nav a{
     color: #070707;
     text-decoration: none;
    font-weight: 00;
}
.header-nav a :hover{
    color: #599217;
}

.header-button{
    background-color: none;
    padding: 0.5rem;
    border: 2px solid #EECF39;
    cursor: pointer;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
}
.icon1{
    font-size: 30px;
   color: #070707;
    padding-right: 0.5rem;
}
.icon p{
    color: #070707;
}
.menu{
    display: none;
  }
@media (max-width: 980px) {
    .menu{
    display: block;
    }
    .header-nav{
        display: none;
    }
    .menu{
        font-size: 35px;
        align-items: center;
        display: flex;
    }
    .header-button{
        display: flex;
        align-items: center;
        padding: 1rem;
    }
.logo{
    height: 5rem;
    width: 4rem;
    padding-bottom: 1rem;
} 
    
  }